body{
    height: 100vh;
    width: 100vw;
    background-color: #1c1c1c;
    /* margin: auto; */
}

input{
    flex-grow: 0.7;
    background-color: #1c1c1c;
    color: white;
    outline: none;
    font-size: 60px;
    border: 0;
}




#Container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 400px;
    margin: auto;
}
#Ele{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    flex-grow: 2;
    gap: 5;
}
#zero
{
     grid-column:  span 2;
}

button{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    
  background-color: #505050;
  color: white;
  cursor: pointer;
}
.yello_class{
    background-color: #ff9500;
    /* color: white; */
}